# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.manifest

# Lokálne dáta a databáza
data/
*.db
*.db-wal
*.db-shm

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
